@tailwind base;
@tailwind components;
@tailwind utilities;
.search-bar {
     @apply w-full
 }
@layer components {
    .main-container {
        @apply flex m-4 p-4 sm:mx-8 md:mx-12 lg:mx-16 xl:mx-20 border-b border-gray-500;
    }
    .container-flex {
        @apply flex flex-col w-full justify-between items-center;
    }
    .container-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

nav {
    border-bottom: 1px solid #cacaca;
}

body {
    width: 100vw;
    height: 100vh;
}